<!-- This is the markup for the table you should use. -->
<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Roles</th>
	</thead>
	<tr>
		<td>1</td>
		<td><input type="text" value="David Charlwood"></td>
		<td>
			<div class="tag" [style.background-color]="'#6798d0'">FOH</div>
			<div class="tag" [style.background-color]="'#fbd142'">Reception</div>
		</td>
	</tr>
	<tr>
		<td>5</td>
		<td><input type="text" value="Ben Jenkins"></td>
		<td>
			<div class="tag" [style.background-color]="'#e88abb'">Bar</div>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td><input type="text" value="Jacob Diaz"></td>
		<td></td>
	</tr>
	<tr>
		<td>3</td>
		<td><input type="text" value="Jose Broadbent"></td>
		<td>
			<div class="tag" [style.background-color]="'#6798d0'">FOH</div>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td><input type="text" value="Russell Brandon"></td>
		<td>
			<div class="tag" [style.background-color]="'#e88abb'">Bar</div>
			<div class="tag" [style.background-color]="'#60c1a5'">Cleaner</div>
			<div class="tag" [style.background-color]="'#ef7150'">Kitchen</div>
		</td>
	</tr>
</table>
