<!-- This is the markup for the table you should use. -->
<table>
	<thead>
		<th>ID</th>
		<th>Name</th>
		<th>Users</th>
	</thead>
	<tr>
		<td>5</td>
		<td><input type="text" value="Bar" [style.color]="'#e88abb'"></td>
		<td>
			<div class="tag">Ben Jenkins</div>
			<div class="tag">Russell Brandon</div>
		</td>
	</tr>
	<tr>
		<td>4</td>
		<td><input type="text" value="Cleaner" [style.color]="'#60c1a5'"></td>
		<td>
			<div class="tag">Russell Brandon</div>
		</td>
	</tr>
	<tr>
		<td>1</td>
		<td><input type="text" value="FOH" [style.color]="'#6798d0'"></td>
		<td>
			<div class="tag">David Charlwood</div>
			<div class="tag">Jose Broadbent</div>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td><input type="text" value="Kitchen" [style.color]="'#ef7150'"></td>
		<td>
			<div class="tag">Russell Brandon</div>
		</td>
	</tr>
	<tr>
		<td>3</td>
		<td><input type="text" value="Reception" [style.color]="'#fbd142'"></td>
		<td>
			<div class="tag">David Charlwood</div>
		</td>
	</tr>
</table>
